* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
html, body{
    background-color: rgb(20, 20, 20);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align:start;
    font-size: larger;
    margin-top: 0;
    display: flex;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-right: 5%;
    background: rgba(0,0, 0, 80%);
    align-items: baseline;

}


.navbar a{
    color: white;
    padding: 20px;
    font-size: large;
    font-weight: 300;

}
.logo{
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: 900;
    text-decoration: none;
    margin-left: 15px;
    
}

.navbarSpacer{
    flex: 1;
}

#menu-button {
    padding-right: 15px;
    margin-right: 15px;
}

.banner {
    text-align: center;
    margin-top: 100px;
    color: white;
    display: flex;

}

.banner-text{
    justify-self: center center;
        
}

banner-text.h2 {
    color: white;
    font-weight: 300;
}

.about{
    text-align: start;
    display: flex;
    gap: 0;
    max-width: 102%;
}

.aboutMeText{
    padding: 25px;
    min-width: 50%;
    color: white;
}

#sly-guy {
    visibility:hidden;
    object-fit: contain;

    border-radius: 100%;
    
}
.aboutMePic{
    min-width: 50%;
    height: 40px;
}
#aboutMePic{
    justify-self: center;
    object-fit: cover;
}