* {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    opacity: 90%;
    text-align:start;
    font-size: larger;
    border-bottom-color: rgba(152, 152, 152, 0.788);
    border-bottom-style:solid;
    border-width: 1px;
    padding-bottom: 10px;
    backdrop-filter: blur(20%);
    margin-top: 0;


}

.navbar li{
    display: inline-block;
    padding: 0px 20px;
    list-style-type: none;
    align-items: end;
    padding: 10px;

}
#navbarSpacer li{
    padding-right: 100%;
}

.navbar a{
    color: black;
}

.banner {
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 100px;
    display: flex;
}

banner.h2 {
    color: white;
}

.about{
    text-align: start;
    margin: 30px;
    border-top: 1px solid gray
}

#sly-guy {
    visibility: true;
}

a.logo{
    color: black;
    font-weight: bold;
    text-decoration: none;
    
}
